#form{
  border: 2px solid black;
  color: skyblue;
  background-color: #01162c;
  text-align: center;
  text-decoration: underline;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #042d6a, #06496b, #01162c, #5e0ce1);
  background-size: 400% 400%;
  animation: gradientAnimation 3s ease infinite;
  color: #fff;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.container {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
}


.title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #fff;
}


.content {
  color: #fff;
}


.input-box {
  margin-bottom: 20px;
}

.input-box span.details {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
  color: #fff;
}

.input-box input,
.input-box select {
  width: 100%;
  padding: 12px;
  background: #fff;
  border: none;
  border-radius: 5px;
  color: #030000;
  font-size: 16px;
}

.input-box input:focus,
.input-box select:focus {
  outline: none;
  border: 2px solid #2a690b;
}


.gender-details {
  margin-bottom: 20px;
}

.gender-title {
  font-size: 16px;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
  color: #fff;
}

.category {
  display: flex;
  justify-content: space-around;
}

.category input {
  display: none;
}

.category label {
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.category label:hover {
  color: #00BFFF;
}

.category label .dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 8px;
  transition: background-color 0.3s ease;
}

.category input:checked + label .dot {
  background-color: #00BFFF;
}


.button {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button input {
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button input[type="submit"] {
  background-color: #00BFFF;
  color: #fff;
}

.button input[type="submit"]:hover {
  background-color: #1E90FF;
}

.button input[type="button"] {
  background-color: #f44336;
  color: #fff;
}

.button input[type="button"]:hover {
  background-color: #e53935;
}

 
@media screen and (max-width: 600px) {
  .container {
    padding: 30px;
  }

  .title {
    font-size: 24px;
  }

  .input-box input,
  .input-box select {
    padding: 10px;
  }

  .button input {
    width: 48%;
  }
}
